@{
    Layout = null;
}
@using EstivaWeb.Models
@model List<Urun>

<div class="product-carousel-4 slick-row-10 slick-arrow-style">
    <!-- product item start -->
    @foreach (Urun item in Model)
    {

        <div class="product-item">
            <figure class="product-thumb">
                <a href="javascript:void(0)">
                    <img class="pri-img" src="~/Content/images/urunler/@item.UrunResmi" alt="@item.Urunadi">
                    <img class="sec-img" src="assets/img/product/product-18.jpg" alt="product">
                </a>
                <div class="product-badge">
                    @if (item.IsUrunYeni)
                    {
                        <div class="product-label new">
                            <span>Yeni</span>
                        </div>
                    }

                    @if (item.IsUrunIndirim)
                    {
                        <div class="product-label discount">
                            <span>Indirim</span>
                        </div>
                    }

                </div>


            </figure>
            <div class="product-caption text-center">

                <div class="product-identity">
                    <p class="manufacturer-name"><a href="product-details.html">@item.UrunCinsi</a></p>
                </div>


                <h6 class="product-name">
                    <a href="#">@item.Urunadi</a>
                </h6>
                <div class="price-box">
                    <span class="price-regular">@item.UrunFiyati TL </span>
                    <span class="price-old"><del>@item.UrunFiyati2 TL</del></span>
                </div>
                <p> Hemen Satın Al</p>
                <div class="row">
                    <div class="col-lg-2">
                        <a href="@item.TrendLink"><img src="~/Content/assets/img/logo/trlogo.png" /></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="@item.N11Link"><img src="~/Content/assets/img/logo/n11logo.png" /></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="@item.GittiLink"><img src="~/Content/assets/img/logo/gglogo.jpg" /></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="@item.HepsiLink"><img src="~/Content/assets/img/logo/hblogo.jpg" /></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="https://www.instagram.com/estivajewellery/"><img src="~/Content/assets/img/logo/inslogo.png" /></a>
                    </div>
                    <div class="col-lg-2">
                        <a href="https://api.whatsapp.com/send?phone=5497372445&text=Merhaba!%20Fiyat%20Bilgisi%20Alabilir%20miyim?"><img src="~/Content/assets/img/logo/whatlogo.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- product item end -->
</div>

